ul, li {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
}

.Input__wrapper {
  display: flex;
  align-items: center;
}

.Input__wrapper label {
  position: absolute;
  bottom: -99999px;
}

.Input__wrapper > * + * {
  margin-left: 15px;
}

.Input__wrapper .Input {
  border: 1px solid #aaaaaa;
  padding: 0.4rem;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 3px;
}

.FormButton {
  background-color: #dae5d5;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}


.FormButton:hover {
  padding: 0.6rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 12px;
  box-shadow: -0 0 15px -50px #999999;
}

.Input:focus-visible {
  outline: #dae5d5 solid 1px;
}